<template name="loginLayout">
    <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">

        {{> topbar}}
        <!-- Left side column. contains the logo and sidebar -->
        {{> sidebar}}


        <div class="content-wrapper">
            {{> Template.dynamic template=main}}
        </div>

    </div><!-- ./wrapper -->

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    </body>
</template>