<template name="sidebar">
{{#if currentUser}}
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            {{> sideBarUserPanel}}
            <!-- search form -->
            {{> searchForm}}
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="/dashboard"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                        <li><a href="/dashboard2"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-th-list"></i>
                        <span>Companies</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/charts/chartjs"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                        <li><a href="/charts/morris"><i class="fa fa-circle-o"></i> Morris</a></li>
                        <li><a href="/charts/flot"><i class="fa fa-circle-o"></i> Flot</a></li>
                        <li><a href="/charts/inline"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                    </ul>
                </li> <!--Companies-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                        <span>Mailbox</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="mailbox"><i class="fa fa-circle-o"></i> Check Mail</a></li>
                        <li><a href="mailbox-create"><i class="fa fa-circle-o"></i> Compose Mail</a></li>
                    </ul>
                </li> <!--Mailbox-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Charts</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/charts/chartjs"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                        <li><a href="/charts/morris"><i class="fa fa-circle-o"></i> Morris</a></li>
                        <li><a href="/charts/flot"><i class="fa fa-circle-o"></i> Flot</a></li>
                        <li><a href="/charts/inline"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                    </ul>
                </li>

                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
{{else}}
    {{> unloggedSidebar}}
{{/if}}

</template>



<template name="unloggedSidebar">
    <aside class="main-sidebar">
    </aside>
</template>