/***********************************************************************
*
* Table of Content:
*
*    1.   Body
*    2.   Header
*    2.1  Navigation
*    2.2
*    3.   Content
*    4.
*    5.
*    6.
*    7.
*    8.
*    9.
*   10.
*
*
* Copyright 2015 Zeke B.
*
***********************************************************************/

/***********************************************************************
*    1.   Body
***********************************************************************/

html,
body {
    min-height: 100%;
}
.layout-boxed html,
.layout-boxed body {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

/***********************************************************************
*    1.   Header
***********************************************************************/


/***********************************************************************
*    2.1  Navigation
***********************************************************************/
.main-header .logo {
    line-height: 0px !important;
}

/***********************************************************************
*    1.   Body
***********************************************************************/
/*To clear the padding on the login screen from the content header*/

.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}

/***********************************************************************
*    1.   Body
***********************************************************************/

.accounts-box {
    background-color: white;
    padding: 30px 15px;
}

/***********************************************************************
*    1.   Body
***********************************************************************/


/***********************************************************************
*    1.   Body
***********************************************************************/


/***********************************************************************
*    1.   Body
***********************************************************************/


/***********************************************************************
*    1.   Body
***********************************************************************/