<template name="login">
    <div class="{{containerCSSClass}}">
        <div class="{{rowCSSClass}}">
            {{> loginButtons}}

            {{#if logo}}
                <div class="entry-logo">
                    <a href="/"><img src="{{logo}}" alt="logo"></a>
                </div>
            {{/if}}
            <div class="entry col-md-4 col-md-offset-4">
                <h3>{{t9n "signInAccount"}}</h3>
                {{#if otherLoginServices}}
                    <div class="entry-social">
                        {{#each loginServices}}
                            {{> entrySocial}}
                        {{/each}}
                        {{#if passwordLoginService}}
                            <div class="email-option">
                                <strong class="line-thru or-sign-in">{{t9n "OR"}}</strong>
                            </div>
                        {{/if}}
                    </div>
                {{/if}}
                {{> entryError}}
                {{#unless otherLoginServices}}
                    <div class="email-option">
                        <h3>{{t9n "signIn"}}</h3>
                    </div>
                {{/unless}}
                {{#if passwordLoginService}}
                    <form class="entry-form" id='signIn'>
                        <div class="form-group">
                            <input autofocus name="email" type="{{emailInputType}}" class="form-control" value='{{email}}' placeholder="{{emailPlaceholder}}" autocapitalize="none" autocomplete="off" autocorrect="off">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" value='{{password}}' placeholder="{{t9n 'password'}}">
                        </div>
                        {{#unless isUsernameOnly}}
                            <p><a href="forgot">{{t9n "forgotPassword"}}</a></p>
                            <button type="submit" class="submit btn btn-block btn-default">{{t9n "signIn"}}</button>
                        {{/unless}}
                    </form>
                {{/if}}
                {{#if showCreateAccountLink}}
                    <p class="entry-signup-cta">{{t9n "dontHaveAnAccount"}} <a href="signup">{{t9n "signUp"}}</a></p>
                {{/if}}
                {{#if talkingToServer}}
                    {{> spinner}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="signup">
    <div class="{{containerCSSClass}}">
        <div class="{{rowCSSClass}}">
            {{#if logo}}
                <div class="entry-logo">
                    <a href="/"><img src="{{logo}}" alt="logo"></a>
                </div>
            {{/if}}
            <div class="entry col-md-4 col-md-offset-4">
                <h3>{{t9n "createAccount"}}</h3>
                {{#if otherLoginServices}}
                    <p class="entry-signin-cta">{{t9n "ifYouAlreadyHaveAnAccount"}} <a href="login">{{t9n "signin"}}</a>.</p>
                    <div class="entry-social">
                        {{#each loginServices}}
                            {{> entrySocial}}
                        {{/each}}
                        {{#if passwordLoginService}}
                            <div class="email-option">
                                <strong class="line-thru">{{t9n "OR"}}</strong>
                                <a data-toggle="collapse" href="#signUp">
                                    {{t9n "signUpWithYourEmailAddress"}}
                                </a>
                            </div>
                        {{/if}}
                    </div>
                {{else}}
                    <p class="entry-signin-cta">{{t9n "ifYouAlreadyHaveAnAccount"}} <a href="entrySignIn">{{t9n "signin"}}</a>.</p>
                {{/if}}
                {{> entryError}}
                {{#if passwordLoginService}}
                    <form class="entry-form {{signupClass}}" id='signUp'>
                        {{#if showUsername}}
                            <div class="form-group">
                                <label>{{t9n "username"}}</label>
                                <input autofocus name="username" type="string" class="form-control" value='' autocapitalize="none" autocomplete="off" autocorrect="off">
                            </div>
                        {{/if}}
                        {{#if showEmail}}
                            <div class="form-group">
                                <label>{{t9n "emailAddress"}}</label>
                                {{#if showUsername}}
                                    <input type="email" class="form-control" value='{{emailAddress}}'  autocapitalize="none" autocomplete="off" autocorrect="off">
                                {{else}}
                                    <input autofocus type="email" class="form-control" value='{{emailAddress}}'  autocapitalize="none" autocomplete="off" autocorrect="off" >
                                {{/if}}
                            </div>
                        {{/if}}

                        <div class="form-group">
                            <label>{{t9n "password"}}</label>
                            <input type="password" class="form-control" value=''>
                        </div>

                        {{#if showSignupCode}}
                            <div class="form-group">
                                <label>{{t9n "signupCode"}}</label>
                                <input name="signupCode" type="string" class="form-control" value='' autocapitalize="none" autocomplete="off" autocorrect="off" >
                            </div>
                        {{/if}}

                        {{> entryExtraSignUpFields}}
                        <button type="submit" class="submit btn btn-block btn-default">{{t9n "signUp"}}</button>
                    </form>
                {{/if}}
                {{#if both}}
                    <p class="entry-agreement">{{t9n "clickAgree"}}
                        <a href="privacy">{{t9n "privacyPolicy"}}</a> {{t9n "and"}}
                        <a href="terms">{{t9n "terms"}}</a>.
                    </p>
                {{else}}
                    {{#unless neither}}
                        <p class="entry-agreement">{{t9n "clickAgree"}}
                            {{#if privacyUrl}}<a href="privacy">{{t9n "privacyPolicy"}}</a>.{{/if}}
                            {{#if termsUrl}}<a href="terms">{{t9n "terms"}}</a>.{{/if}}
                        </p>
                    {{/unless}}
                {{/if}}
                {{#if talkingToServer}}
                    {{> spinner}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="forgot">
    <div class="{{containerCSSClass}}">
        <div class="{{rowCSSClass}}">
            {{#if logo}}
                <div class="entry-logo">
                    <a href="/"><img src="{{logo}}" alt="logo"></a>
                </div>
            {{/if}}
            <div class="entry col-md-4 col-md-offset-4">
                {{#if error}}
                    <div class='alert alert-danger'>{{error}}</div>
                {{/if}}
                <h3>{{t9n 'forgotPassword'}}</h3>
                <form id='forgotPassword'>
                    <div class="form-group">
                        <input type="email" name="forgottenEmail" class="form-control" placeholder="{{t9n 'emailAddress'}}" value=''>
                    </div>
                    <button type="submit" class="submit btn btn-block btn-danger">{{t9n 'emailResetLink'}}</button>
                </form>
                <p class="entry-signup-cta">{{t9n "dontHaveAnAccount"}} <a href="signup">{{t9n "signUp"}}</a></p>
                <p class="entry-signin-cta">{{t9n "ifYouAlreadyHaveAnAccount"}} <a href="login">{{t9n "signin"}}</a>.</p>





                {{#if talkingToServer}}
                    {{> spinner}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="resetPassword">
    <div class="{{containerCSSClass}}">
        <div class="{{rowCSSClass}}">
            {{#if logo}}
                <div class="entry-logo">
                    <a href="/"><img src="{{logo}}" alt="logo"></a>
                </div>
            {{/if}}
            <div class="entry col-md-4 col-md-offset-4">
                {{#if error}}
                    <div class='alert alert-danger'>{{error}}</div>
                {{/if}}
                <h3>{{t9n 'forgotPassword'}}</h3>
                <form id='forgotPassword'>
                    <div class="form-group">
                        <input type="email" name="forgottenEmail" class="form-control" placeholder="{{t9n 'emailAddress'}}" value=''>
                    </div>
                    <button type="submit" class="btn btn-default">{{t9n 'emailResetLink'}}</button>
                </form>
                {{#if showSignupCode}}
                    <p class="entry-signup-cta">{{t9n 'dontHaveAnAccount'}} <a href="signup">{{t9n 'signUp'}}</a></p>
                {{/if}}
                {{#if talkingToServer}}
                    {{> spinner}}
                {{/if}}
            </div>
        </div>
    </div>
</template>